<html>
  <head>
    <title>Unique Sum Helpers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
      .container-fluid {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .remove-helper {
        float: right;
        margin-right: 5px;
        margin-top: 5px;
      }
      .sum-helper {
        margin-bottom: .75em;
        margin-right: .75em;
        padding: 0;
        height: max-content;
        background-color: lightgrey;
      }
      .sum-helper-wrapper {
        padding: 5px;
      }
      #sum-form .row {
        margin-bottom: 10px;
      }
      .removed {
        color: #999 !important;
      }
      i {
        color: black;
        cursor: pointer;
      }
      .combo-total {
        font-weight:  bold;
      }
      .remove-icon {
        text-align:  right;
      }
      .hidetotal {
        display: none;
      }
      .tooltip-inner {
        background-color: #f00;
      }
      .tooltip.bs-tooltip-right .arrow:before {
          border-right-color: #f00 !important;
      }
      .tooltip.bs-tooltip-left .arrow:before {
          border-right-color: #f00 !important;
      }
      .tooltip.bs-tooltip-bottom .arrow:before {
          border-right-color: #f00 !important;
      }
      .tooltip.bs-tooltip-top .arrow:before {
          border-right-color: #f00 !important;
      }
      .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before, .bs-tooltip-bottom .tooltip-arrow::before {
        border-bottom-color: #f00 !important;
      }
      #sum-form > div > div  {
        text-align: right;
      }
      .hidden {
        color: #666;
        background-color: #666;
      }
      .hidden:before {
          content: "\200D";
          display:inline;
       }
      .hidden-field {
        width: 12rem;
        display: inline-block;
      }
      .hidden-field-label, .helper-label {
        width: 5.5rem;
        display: inline-block;
      }
      .button-div {
        margin-top:  .5rem;
      }
      input {
        padding-left: 5px;
        width: 12rem;
      }
      hr {
        margin: .3rem;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="lib/combinations.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div id="app" class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-auto"><h1>Unique Sum Helpers</h1></div>
        <div class="col-12 col-md-6 button-div"><add-helper-button></add-helper-button></div>
      </div>
      <div class="row">
        <sum-helper
          v-for="helper in sumHelpers"
          v-bind:key="helper.id"
          v-bind:helper="helper"
        ></sum-helper>
      </div>
    </div>
    <div id="data-bucket" data-combos=""></div>
    <script>
      Vue.component('add-helper-button',{
        methods: {
          addHelper: function() {
            this.$parent.addHelper()
          }
        },
        template: `
          <button id="add-helper-button" v-on:click="addHelper" class="btn btn-primary col-12 col-lg-4">Add Helper</button>
        `
      })

      Vue.component('combo-row', {
        props: ['combo','total'],
        data: function() {
          return { removed: false }
        },
        computed: {
          plusOrMinus: function() {
            return {
              "bi-dash-circle": !this.removed,
              "bi-plus-circle": this.removed
            }
          },
          hideTotal: function(){
            return this.total != 0
          }
        },
        methods: {
          toggleRemoved: function(e){
            this.$parent.toggleCombo($(e.target).data('combo'))
            this.removed = !this.removed
          },
        },
        template: `
          <tr class="" v-bind:class="{removed: removed}">
            <td class="col-2" v-bind:class="{hidetotal: hideTotal}"><span class="combo-total">{{this.$parent.$parent.sumOfDigits(combo)}}</span></td>
            <td class="col"><span class="combo">{{combo}}</span></td>
            <td class="col-1 remove-icon"><i v-on:click="toggleRemoved" :data-combo="combo" class="bi" v-bind:class="plusOrMinus"></i></td>
          </tr>
      `
      })

      Vue.component('sum-helper', {
        props: ['helper'],
        data: function() {
          return {
            hideMissingField: true,
            hideRequiredField: true,
            hideLengthField: true,
            hideSumField: true,
            size: 0,
            total: 0,
            notes: '',
            included: '',
            excluded: '',
            minSize: 0,
            maxSize: 0,
            minTotal: 0,
            maxTotal: 0,
            combos: [],
            activeCombos: []
          }
        },
        computed: {
          possibilities: function() { return this.activeCombos.length },
          required: function() {
            if ( this.activeCombos.length == 0 ){
              return ''
            }
            let r = []
            var longest = this.activeCombos.reduce(
                function (a, b) {
                    return a.length > b.length ? a : b;
                }
            );
            for (let x=0; x < longest.length; x++){
              let notFound = false
              for (let y=0; y < this.activeCombos.length; y++){
                if ( this.activeCombos[y].indexOf(longest[x]) < 0 ){
                  notFound = true
                  break
                }
              }
              if (!notFound) {
                r.push(longest[x])
              }
            }
            return r.join(',')
          },
          missing: function() {
            if (this.activeCombos.length == 0){
              return [1,2,3,4,5,6,7,8,9].join(',')
            }
            let m = []
            for (let x=1;x < 10; x++){
              const found = this.activeCombos.some(combo => String(combo).includes(x));
              if ( !found ){
                m.push(x)
              }
            }
            return m.join(',')
          },
          minMaxLength: function() {
            if (this.activeCombos.length == 0){
              return {"min":0,"max":0}
            }
            let min = max = this.activeCombos[0].length
            for (var x=1; x < this.activeCombos.length; x++){
              if ( this.activeCombos[x].length < min ){
                min = this.activeCombos[x].length
              }
              if ( this.activeCombos[x].length > max ){
                max = this.activeCombos[x].length
              }
            }
            return {"min": min, "max": max}
          },
          minMaxSum: function() {
            if (this.activeCombos.length == 0){
              return {"min":0,"max":0}
            }
            let min = max = this.$parent.sumOfDigits(this.activeCombos[0])
            for (var x=1; x < this.activeCombos.length; x++){
              let sum = this.$parent.sumOfDigits(this.activeCombos[x])
              if ( sum < min ){
                min = sum
              }
              if ( sum > max ){
                max = sum
              }
            }
            return {"min": min, "max": max}
          },
          sizeDisabled: function(){
            return this.size != '' && this.cleanZeros(this.size) != '0'
          },
          totalDisabled: function(){
            return this.total != '' && this.cleanZeros(this.total )!= '0'
          },
          missingEye: function(){
            return {
              "bi-eye": this.hideMissingField,
              "bi-eye-slash": !this.hideMissingField
            }
          },
          requiredEye: function(){
            return {
              "bi-eye": this.hideRequiredField,
              "bi-eye-slash": !this.hideRequiredField
            }
          },
          lengthEye: function(){
            return {
              "bi-eye": this.hideLengthField,
              "bi-eye-slash": !this.hideLengthField
            }
          },
          sumEye: function(){
            return {
              "bi-eye": this.hideSumField,
              "bi-eye-slash": !this.hideSumField
            }
          }
        },
        methods: {
          removeHelper: function(){
            this.$parent.removeHelper(this.helper.id)
          },
          toggleCombo: function(combo){
            combo = "" + combo
            let index = this.activeCombos.indexOf(combo)
            if ( index > -1 ){
              this.activeCombos.splice(index,1)
            } else {
              this.activeCombos.push(combo)
            }
          },
          showSize: function(){
            if (this.size != 0){
              return {display: 'block'}
            } else {
              return { display: 'none'}
            }
          },
          showTotal: function(){
            if (this.total != 0){
              return {display: 'block'}
            } else {
              return { display: 'none'}
            }
          },
          showIncluded: function(){
            if (this.included.length == 0)
              return {display: 'none'}
            return {display: 'block'}
          },
          showExcluded: function() {
            if (this.excluded.length == 0)
              return {display: 'none'}
            return {display: 'block'}
          },
          showMissing: function() {
            if (this.missing.length == 0)
              return {display: 'none'}
            return {display: 'block'}
          },
          showRequired: function() {
            if (this.required.length == 0)
              return {display: 'none'}
            return {display: 'block'}
          },
          toggleMissing: function(){
            this.hideMissingField = !this.hideMissingField
          },
          toggleRequired: function(){
            this.hideRequiredField = !this.hideRequiredField
          },
          showLength: function() {
            if (this.size == 0)
              return {display: 'block'}
            return {display: 'none'}
          },
          toggleLength: function(){
            this.hideLengthField = !this.hideLengthField
          },
          showSumInfo: function() {
            if (this.total == 0)
              return {display: 'block'}
            return {display: 'none'}
          },
          toggleSumInfo: function(){
            this.hideSumField = !this.hideSumField
          },
          size_id: function(){
            return 'size-' + this.helper.id
          },
          total_id: function(){
            return 'total-' + this.helper.id
          },
          included_id: function(){
            return 'included-' + this.helper.id
          },
          excluded_id: function(){
            return 'excluded-' + this.helper.id
          },
          min_size_id: function(){
            return 'min-size-' + this.helper.id
          },
          max_size_id: function(){
            return 'max-size-' + this.helper.id
          },
          min_total_id: function(){
            return 'min-total-' + this.helper.id
          },
          max_total_id: function(){
            return 'max-total-' + this.helper.id
          },
          updateHelper: function(){
            this.cleanInput();
            this.cleanIncludedExcluded();
            this.combos = [...this.$parent.getCombos(this.size,this.total,this.included,this.excluded,this.minSize,this.maxSize,this.minTotal,this.maxTotal)]
            this.activeCombos = [...this.$parent.getCombos(this.size,this.total,this.included,this.excluded,this.minSize,this.maxSize,this.minTotal,this.maxTotal)]
          },
          cleanInput: function() {
            this.size = this.cleanZeros(this.size)
            this.total = this.cleanZeros(this.total)
            this.minSize = this.cleanZeros(this.minSize)
            this.minTotal = this.cleanZeros(this.minTotal)
            this.maxSize = this.cleanZeros(this.maxSize)
            this.maxTotal = this.cleanZeros(this.maxTotal)
          },
          cleanZeros: function(s) {
            if ( s == undefined || s == '')
              return '0'
            if ( s.length == 0 || s.length == 1)
              return s
            while ( s[0] == 0 ){
              s = s.slice(1)
            }
            if ( s == undefined )
              s = '0'
            return s
          },
          cleanIncludedExcluded: function() {
            let digits = this.included.split("")
            this.included = digits.filter((digit) => digit.match(/[1-9]/)).join("")
            this.included = this.included.split('').filter((v, i, a) => a.indexOf(v) === i).sort().join('')
            digits = this.excluded.split('')
            this.excluded = digits.filter((digit) => digit.match(/[1-9]/)).join('')
            this.excluded = this.excluded.split('').filter((v, i, a) => a.indexOf(v) === i).sort().join('')

          }
        },
        template: `
          <div class="sum-helper col-12 col-sm2-6 col-lg-5 col-xl-3" :id="helper.id">
            <i v-on:click="removeHelper" class="bi bi-x-square remove-helper"></i>
            <div class="sum-helper-wrapper">
              <div><label class="helper-label" :for="size_id">Size:</label> <input type="number" :id="size_id" v-model="size" v-on:input="updateHelper" v-on:click="(e) => e.target.select()" /></div>
              <div><label class="helper-label" :for="total_id">Total:</label> <input type="number" :id="total_id" v-model="total" v-on:input="updateHelper" v-on:click="(e) => e.target.select()" /></div>
              <hr/>
              <div><label class="helper-label" :for="included_id">Included:</label> <input type="text" :id="included_id" v-model="included" v-on:input="updateHelper"></div>
              <div><label class="helper-label" :for="excluded_id">Excluded:</label> <input type="text" :id="excluded_id" v-model="excluded" v-on:input="updateHelper" /></div>
              <hr/>
              <div><label class="helper-label" :for="min_size_id">Min Size:</label> <input type="number" :id="min_size_id" v-model="minSize" v-on:input="updateHelper" v-on:click="(e) => e.target.select()" v-bind:disabled="sizeDisabled"/></div>
              <div><label class="helper-label" :for="max_size_id">Max Size:</label> <input type="number" :id="max_size_id" v-model="maxSize" v-on:input="updateHelper" v-on:click="(e) => e.target.select()"  v-bind:disabled="sizeDisabled"/></div>
              <hr/>
              <div><label class="helper-label" :for="min_total_id">Min Total:</label> <input type="number" :id="min_total_id" v-model="minTotal" v-on:input="updateHelper" v-on:click="(e) => e.target.select()"  v-bind:disabled="totalDisabled"/></div>
              <div><label class="helper-label" :for="max_total_id">Max Total:</label> <input type="number" :id="max_total_id" v-model="maxTotal" v-on:input="updateHelper" v-on:click="(e) => e.target.select()"  v-bind:disabled="totalDisabled"/></div>
              <hr/>
              <div>
                <span class="hidden-field-label">Missing:</span> <span v-bind:class="{hidden: hideMissingField}" class="hidden-field">{{missing}}</span>
                <i v-on:click="toggleMissing" class="bi" v-bind:class="missingEye"></i>
              </div>
              <div>
                <span class="hidden-field-label">Required:</span> <span v-bind:class="{hidden: hideRequiredField}" class="hidden-field">{{required}}</span>
                <i v-on:click="toggleRequired" class="bi" v-bind:class="requiredEye"></i>
              </div>
              <div>
                <span class="hidden-field-label">Sum info:</span> <span v-bind:class="{hidden: hideSumField}" class="hidden-field">Min: {{minMaxSum.min}}; Max: {{minMaxSum.max}}</span>
                <i v-on:click="toggleSumInfo" class="bi" v-bind:class="sumEye"></i>
              </div>
              <div>
                <span class="hidden-field-label">Length info:</span> <span v-bind:class="{hidden: hideLengthField}" class="hidden-field">Min: {{minMaxLength.min}}; Max: {{minMaxLength.max}}</span>
                <i v-on:click="toggleLength" class="bi" v-bind:class="lengthEye"></i>
              </div>
              <div>Possibilities: {{possibilities}}</div>
            </div>
            <table class="table table-striped">
              <tbody>
                <combo-row v-for="combo in this.combos" v-bind:combo="combo" v-bind:total="total" v-bind:key="helper.id + '-' + combo"></combo-row>
              </tbody>
            </table>
            <textarea v-model="notes" class="form-control"></textarea>
            </div>
          </div>
        `
      })

      var app = new Vue({
        el: '#app',
        methods: {
          getNextHelperId: function() {
            return 'helper-' + ++(this.count)
          },
          addHelper: function(){
            this.sumHelpers.push({
              id: this.getNextHelperId()
            })
          },
          removeHelper: function(id) {
            this.sumHelpers.splice(this.sumHelpers.findIndex(helper => helper.id == id),1)
          },
          sumOfDigits: function(s){
            let sum = 0;
            for ( let x=0; x < s.length; x++ ){
              sum += parseInt(s[x]);
            }
            return sum;
          },
          getCombos: function(size,total,included,excluded,rawMinSize,rawMaxSize,rawMinTotal,rawMaxTotal){
            let minSize = parseInt(rawMinSize)
            let maxSize = parseInt(rawMaxSize)
            let minTotal = parseInt(rawMinTotal)
            let maxTotal = parseInt(rawMaxTotal)
            if (excluded == '123456789'){
              return []
            }
            if ( (minSize != 0 && maxSize != 0 ) && (minSize > maxSize)){
              return []
            }
            if ( (minTotal != 0 && maxTotal != 0 ) && (minTotal > maxTotal)){
              return []
            }

            let a = []
            if ( included == '123456789'){
              a = ['123456789']
            } else if ( total == 0 && size == 0 ) {
              a = this.allCombinations
            } else if ( total == 0 ){
                a = this.combosForSize(size)
            } else if (size == 0 ){
                a = this.totalCombinations(total)
            } else {
              a = this.combos[String(size)][String(total)] || []
            }

            a = a.filter(e => {
              let sizeFlag = true
              if ( minSize != 0 && minSize > parseInt(e.length) ){
                sizeFlag = false
              }
              if ( maxSize != 0 && maxSize < parseInt(e.length) ){
                sizeFlag = false
              }
              let totalFlag = true
              if ( minTotal != 0 && minTotal > this.sumOfDigits(e) ){
                totalFlag = false
              }
              if ( maxTotal != 0 && maxTotal < this.sumOfDigits(e) ){
                totalFlag = false
              }
              let includedFlag = true
              for (let x=0; x < included.length; x++ ) {
                if ( e.indexOf(included[x]) > -1 ) {
                  includedFlag = (includedFlag && true)
                } else {
                  includedFlag = false
                }
              }
              let excludedFlag = true
              for (let x=0; x < excluded.length; x++ ) {
                if ( e.indexOf(excluded[x]) > -1 ) {
                  excludedFlag = false
                } else {
                  excludedFlag = excludedFlag && true
                }
              }
              return sizeFlag && totalFlag && includedFlag && excludedFlag
            })
            if (total != 0){
              return a.sort(this.sortTotalCombos);
            }
            return a.sort(this.sortSizeCombos)
          },
          includedInIncludedString: function(s,included) {
            for ( let x=0;x < included.length; x++){
              if ( s.indexOf(included[x]) > -1 ){
                return true;
              }
            }
            return false;
          },
          combosForSize: function(size){
            return k_combinations([1,2,3,4,5,6,7,8,9],parseInt(size)).map(function(e){return e.join('')}).sort(this.sortSizeCombos)
          },
          unique_combinations_for_total: function(l, sum, K, local, A) {
            //based on code by _saurabh_jaiswal at https://www.geeksforgeeks.org/all-unique-combinations-whose-sum-equals-to-k/
            if (sum == K) {
              let current = $('#data-bucket').data('combos')
              if ( current != '' ){
                current += '|'
              }
              current += local.join('')
              $('#data-bucket').data('combos', current)
            }

            for (let i = l; i < A.length; i++) {
              if (sum + A[i] > K)
                  continue;
              if (i > l && A[i] == A[i - 1])
                  continue;

              local.push(A[i]);
              this.unique_combinations_for_total(i + 1, sum + A[i], K, local, A);
              local.pop();
            }
          },
          totalCombinations: function(K) {
            let local = [];
            this.unique_combinations_for_total(0, 0, K, local, [1,2,3,4,5,6,7,8,9]);
            let combos = $('#data-bucket').data('combos').split('|').sort(this.sortTotalCombos)
            $('#data-bucket').data('combos','')
            return combos
          },
          sortTotalCombos: function(a,b){
            if ( a.length < b.length ){
              return -1
            }
            if ( parseInt(a) < parseInt(b) ){
              return -1
            } else {
              return 1
            }
          },
          sortSizeCombos: function(a,b){
            let aSum = this.sumOfDigits(a)
            let bSum = this.sumOfDigits(b)
            if ( aSum < bSum ) {
              return -1
            } else if ( aSum == bSum) {
              if ( a < b ){
                return -1
              }
            }
            return 1
          }
        },
        data: {
          count: 1,
          sumHelpers: [{id:'helper-1'}],
          console: window.console,
          allCombinations: combinations([1,2,3,4,5,6,7,8,9]).map(e => e.join('')),
          combos: {
            "0": {},
            "2": {
              "3": [ "12" ],
              "4": [ "13" ],
              "5": [ "14", "23" ],
              "6": [ "15", "24" ],
              "7": [ "16", "25", "34" ],
              "8": [ "17", "26", "35" ],
              "9": [ "18", "27", "36", "45" ],
              "10": [ "19", "28", "37", "46" ],
              "11": [ "29", "38", "47", "56" ],
              "12": [ "39", "48", "57" ],
              "13": [ "49", "58", "67" ],
              "14": [ "59", "68" ],
              "15": [ "69", "78" ],
              "16": [ "79" ],
              "17": [ "89" ]
            },
            "3": {
              "6": [ "123" ],
              "7": [ "124" ],
              "8": [ "125", "134" ],
              "9": [ "126", "135", "234" ],
              "10": [ "127", "136", "145", "235" ],
              "11": [ "128", "137", "146", "236", "245" ],
              "12": [ "129", "138", "147", "156", "237", "246", "345" ],
              "13": [ "139", "148", "157", "238", "247", "256", "346" ],
              "14": [ "149", "158", "167", "239", "248", "257", "347", "356" ],
              "15": [ "159", "168", "249", "258", "267", "348", "357", "456" ],
              "16": [ "169", "178", "259", "268", "349", "358", "367", "457" ],
              "17": [ "179", "269", "278", "359", "368", "458", "467" ],
              "18": [ "189", "279", "369", "378", "459", "468", "567" ],
              "19": [ "289", "379", "469", "478", "568" ],
              "20": [ "389", "479", "569", "578" ],
              "21": [ "489", "579", "678" ],
              "22": [ "589", "679" ],
              "23": [ "689" ],
              "24": [ "789" ]
            },
            "4": {
              "10": [ "1234" ],
              "11": [ "1235" ],
              "12": [ "1236", "1245" ],
              "13": [ "1237", "1246", "1345" ],
              "14": [ "1238", "1247", "1256", "1346", "2345" ],
              "15": [ "1239", "1248", "1257", "1347", "1356", "2346" ],
              "16": [ "1249", "1258", "1267", "1348", "1357", "1456", "2347", "2356" ],
              "17": [ "1259", "1268", "1349", "1358", "1367", "1457", "2348", "2357", "2456" ],
              "18": [ "1269", "1278", "1359", "1368", "1458", "1467", "2349", "2358", "2367", "2457", "3456" ],
              "19": [ "1279", "1369", "1378", "1459", "1468", "1567", "2359", "2368", "2458", "2467", "3457" ],
              "20": [ "1289", "1379", "1469", "1478", "1568", "2369", "2378", "2459", "2468", "2567", "3458", "3467" ],
              "21": [ "1389", "1479", "1569", "1578", "2379", "2469", "2478", "2568", "3459", "3468", "3567" ],
              "22": [ "1489", "1579", "1678", "2389", "2479", "2569", "2578", "3469", "3478", "3568", "4567" ],
              "23": [ "1589", "1679", "2489", "2579", "2678", "3479", "3569", "3578", "4568" ],
              "24": [ "1689", "2589", "2679", "3489", "3579", "3678", "4569", "4578" ],
              "25": [ "1789", "2689", "3589", "3679", "4579", "4678" ],
              "26": [ "2789", "3689", "4589", "4679", "5678" ],
              "27": [ "3789", "4689", "5679" ],
              "28": [ "4789", "5689" ],
              "29": [ "5789" ],
              "30": [ "6789" ]
            },
            "5": {
              "15": [ "12345" ],
              "16": [ "12346" ],
              "17": [ "12347", "12356" ],
              "18": [ "12348", "12357", "12456" ],
              "19": [ "12349", "12358", "12367", "12457", "13456" ],
              "20": [ "12359", "12368", "12458", "12467", "13457", "23456" ],
              "21": [ "12369", "12378", "12459", "12468", "12567", "13458", "13467", "23457" ],
              "22": [ "12379", "12469", "12478", "12568", "13459", "13468", "13567", "23458", "23467" ],
              "23": [ "12389", "12479", "12569", "12578", "13469", "13478", "13568", "14567", "23459", "23468", "23567" ],
              "24": [ "12489", "12579", "12678", "13479", "13569", "13578", "14568", "23469", "23478", "23568", "24567" ],
              "25": [ "12589", "12679", "13489", "13579", "13678", "14569", "14578", "23479", "23569", "23578", "24568", "34567" ],
              "26": [ "12689", "13589", "13679", "14579", "14678", "23489", "23579", "23678", "24569", "24578", "34568" ],
              "27": [ "12789", "13689", "14589", "14679", "15678", "23589", "23679", "24579", "24678", "34569", "34578" ],
              "28": [ "13789", "14689", "15679", "23689", "24589", "24679", "25678", "34579", "34678" ],
              "29": [ "14789", "15689", "23789", "24689", "25679", "34589", "34679", "35678" ],
              "30": [ "15789", "24789", "25689", "34689", "35679", "45678" ],
              "31": [ "16789", "25789", "34789", "35689", "45679" ],
              "32": [ "26789", "35789", "45689" ],
              "33": [ "36789", "45789" ],
              "34": [ "46789" ],
              "35": [ "56789" ]
            },
            "6": {
              "21": [ "123456" ],
              "22": [ "123457" ],
              "23": [ "123458", "123467" ],
              "24": [ "123459", "123468", "123567" ],
              "25": [ "123469", "123478", "123568", "124567" ],
              "26": [ "123479", "123569", "123578", "124568", "134567" ],
              "27": [ "123489", "123579", "123678", "124569", "124578", "134568", "234567" ],
              "28": [ "123589", "123679", "124579", "124678", "134569", "134578", "234568" ],
              "29": [ "123689", "124589", "124679", "125678", "134579", "134678", "234569", "234578" ],
              "30": [ "123789", "124689", "125679", "134589", "134679", "135678", "234579", "234678" ],
              "31": [ "124789", "125689", "134689", "135679", "145678", "234589", "234679", "235678" ],
              "32": [ "125789", "134789", "135689", "145679", "234689", "235679", "245678" ],
              "33": [ "126789", "135789", "145689", "234789", "235689", "245679", "345678" ],
              "34": [ "136789", "145789", "235789", "245689", "345679" ],
              "35": [ "146789", "236789", "245789", "345689" ],
              "36": [ "156789", "246789", "345789" ],
              "37": [ "256789", "346789" ],
              "38": [ "356789" ],
              "39": [ "456789" ]
            },
            "7": {
              "28": [ "1234567" ],
              "29": [ "1234568" ],
              "30": [ "1234569", "1234578" ],
              "31": [ "1234579", "1234678" ],
              "32": [ "1234589", "1234679", "1235678" ],
              "33": [ "1234689", "1235679", "1245678" ],
              "34": [ "1234789", "1235689", "1245679", "1345678" ],
              "35": [ "1235789", "1245689", "1345679", "2345678" ],
              "36": [ "1236789", "1245789", "1345689", "2345679" ],
              "37": [ "1246789", "1345789", "2345689" ],
              "38": [ "1256789", "1346789", "2345789" ],
              "39": [ "1356789", "2346789" ],
              "40": [ "1456789", "2356789" ],
              "41": [ "2456789" ],
              "42": [ "3456789" ]
            },
            "8": {
              "36": [ "12345678" ],
              "37": [ "12345679" ],
              "38": [ "12345689" ],
              "39": [ "12345789" ],
              "40": [ "12346789" ],
              "41": [ "12356789" ],
              "42": [ "12456789" ],
              "43": [ "13456789" ],
              "44": [ "23456789" ]
            }
          }
        }
      });
    </script>
  </body>
</html>